.productItem{
  margin: 50px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 17px;
  background: #eeeded;
  box-shadow: inset 15px 15px 30px #c6c5c5,
              inset -15px -15px 30px #ffffff;
}

.productItem img{
  text-align: center;
  box-sizing: border-box;
}


/* .single-container {
  box-shadow: 0;
  transition: box-shadow 1s;
}
.single-container:hover {
  border-radius: 40px;
  border-bottom-left-radius: 0;

  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
} */
