.input-search{
    border-radius: 50px;
    width: 550px;
    padding-left: 15px;
    font-size: 22px;
  
}
.btn-search{
    border-radius: 50px;

}

.home-color{
    background-color: #FCF4E0;
    
}