.productItem{
    margin: 50px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 17px;
    background: #eeeded;
    box-shadow: inset 15px 15px 30px #c6c5c5,
                inset -15px -15px 30px #ffffff;
}

.productItem img{
    text-align: center;
    box-sizing: border-box;
}